@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;600&display=swap');

.wishadate-container {
    z-index: 999999;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s;
    display: none;
}

@keyframes wishadateContainer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.wishadate-container-active {
    display: flex;
    animation: wishadateContainer 0.3s ease-in forwards;
}

@keyframes wishadateBody {
    from {
        transform: translateY(40px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes wishadateContainerInactive {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.wishadate-container-inactive {
    display: flex;
    animation: wishadateContainerInactive 0.3s ease-in forwards;
}

.wishadate-body {
    position: relative;
    width: 400px;
    height: auto;
    margin: 0 auto;
    font-family: 'Kodchasan', sans-serif;
    background: #fafafa;
    box-shadow: 0 18px 40px -12px rgba(0, 0, 0, 0.25);
}

.wishadate-body-active {
    animation: wishadateBody 0.3s ease-in forwards;

}

.wishadate-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 14px;
    background: #d7a385;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 600;
}

.wishadate-header-left, .wishadate-header-right {
    cursor: pointer;
}

.wishadate-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    box-sizing: border-box;
}

.wishadate-days-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.wishadate-days-item:nth-child(even) {
    background: #F5F5F5;
}

.wishadate-days-item:nth-child(odd) {
    background: #fafafa;
}

.wishadate-days-item:hover {
    background: #eee;
}

.wishadate-days-item-inactive {
    pointer-events: none;
    opacity: 0.3;
}

.wishadate-days-num {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
}

.wishadate-days-name {
    font-size: 13px;
    margin-bottom: 5px;
    display: none;
}

.wishadate-days-num-active .wishadate-days-name {
    display: block;
}

.wishadate-days-item-inactive .wishadate-days-name {
    display: none;
}